* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, Arial, sans-serif;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
 */

/* 
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông,...)
 */
#main{

}

#header{
    height: 46.5px;
    background-color: black;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li > a{
    color: white;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display: block;
}

/* #nav li:hover a{
    color:black;
    background-color: #ccc;

} */

#nav > li:hover > a,
#nav .subnav li:hover a{
    color:black;
    background-color: #ccc;

}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 5px grey;
}

#nav .subnav a {
    color: #333;
    padding: 0 16px;
    line-height: 38px;
}

/* #nav .subnav a{
    display: inline-block;
} */

#slider{

    min-height: 500px;
    /* background-color: #333; */

}

#content{

}

#footer{

}
